
/* Launchpad v1.0.0 by Bracketeers
============================================ */

/* Normalize */
*,
*::before,
*::after {
  box-sizing:border-box;
  margin:0;
  padding:0;
}

/* Variables */

:root {
  --border-radius: 5px;
  --box-shadow: 0 1px 2px 0 rgba(31,45,61,0.15);
  --color-black: #222;
  --color-border: #ececec;
  --color-green: #59981A;
  --color-green-light: #81B622;
  --color-primary: #2797e8;
  --color-primary-hover: #1f2741;
  --color-purple: #603F8B;
  --color-purple-light: #A16AE8;
  --color-red: #EB1E2B;
  --color-red-light: #E10032;
  --color-white: #fff;
  --color-yellow: #FAD02C;
  --color-yellow-light: #FAC218;
  --column-gap: 0.75rem;
  --column-gap-negative: -0.75rem;
  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --font-size: 18px;
  --header-align: center;
  --line-height: 1.5;
  --site-width: 900px;
  --site-margin: 2rem auto;
  --text-align: left;
}

/* Basics
============================================ */

body {
  color: var(--color-black);
  font-family: var(--font-family);
  line-height: var(--line-height);
  max-width: var(--site-width);
  margin: var(--site-margin);
  font-size: var(--font-size);
}

a,
a:visited {
  color: var(--color-primary);
  display: inline-block;
  font-weight: 700;
  text-decoration: none;

  &:hover,
  &:focus {
    color: var(--color-primary-hover);
    text-decoration: underline;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: var(--line-height);
  text-align: var(--header-align);
}

p {
  margin: 0.5rem 0;
}

/* HTML tags
============================================ */

section {
  border-top: 1px solid var(--color-border);
  margin: 3rem 1.5rem;
  padding: 2rem 0;

  @media only screen and (max-width: 798px) {
    margin: 1rem 0.75rem;
  }
}

code {
  background-color: var(--color-black);
  color: var(--color-white);
  padding: 0.35rem 0.5rem;
  border-radius: var(--border-radius);
  font-weight: 400;
  display: inline-block;
}

/* Header + Nav
============================================ */
header {
  text-align: var(--header-align);
  margin: 0 1.5rem 3rem;
  padding-bottom: 3rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3.5rem;

  ul {
    list-style: none;
  }

  ul li {
    display: inline;
    position: relative;
    margin-left: 1rem;
    text-align: var(--text-align);

    &:hover .nav__dropdown,
    &:focus-within .nav__dropdown {
      display: block;
    }
  }

  .nav__dropdown {
    background-color: var(--color-white);
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
    display: none;
    position: absolute;
    left: 0;
    padding: 0.5rem 1rem;
    white-space: nowrap;

    li {
      display: block;
      margin-left: 0;
    }
  }
}

/* Cards
============================================ */

.cards {
  display: flex;
  margin-left: var(--column-gap-negative);
  margin-right: var(--column-gap-negative);
  padding: 2rem 0;
}

.card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  margin: var(--column-gap);
  padding: var(--column-gap);
  border-radius: var(--border-radius);
  text-align: center;
  box-shadow: var(--box-shadow);
}

.columns {
  display: flex;
  margin-left: var(--column-gap-negative);
  margin-right: var(--column-gap-negative);
  padding: 2rem 0;
}

.column {
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  margin: var(--column-gap);
  padding: var(--column-gap);
}


/* Buttons
============================================ */

a.button,
button {
  display: inline-block;
  background-color: var(--color-primary);
  border: 2px solid var(--color-primary);
  border-radius: var(--border-radius);
  color: var(--color-white);
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  padding: 0.75rem 1.5rem;
  margin: 0.5rem;
  transition:
    ease-in-out 0.15s background-color,
    ease-in-out 0.15s border-color,
    ease-in-out 0.15s color;
  text-decoration: none;

  &:hover,
  &:focus {
    background-color: var(--color-primary-hover);
    border-color: var(--color-primary-hover);
    color: var(--color-white);
    text-decoration: none;
  }

  &:disabled {
    cursor: auto;
    opacity: 0.5;

    &:hover,
    &:focus {
      background-color: var(--color-primary);
    }
  }

  &.button--secondary {
    background: transparent;
    color: var(--color-primary);

    &:hover,
    &:focus {
      color: var(--color-primary-hover);
    }
  }
}

.banner {
  background-color: var(--color-purple);
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius);
  border-left: 5px solid var(--color-purple-light);
  color: white;
  display: block;
  width: 100%;
  margin: 1rem 0;
  font-weight: 700;

  &.banner-warning {
    background-color: var(--color-yellow);
    border-color: var(--color-yellow-light);
    color: var(--color-black);
  }

  &.banner-positive {
    background-color: var(--color-green);
    border-color: var(--color-green-light);
  }

  &.banner-negative {
    background-color: var(--color-red);
    border-color: var(--color-red-light);
  }
}
